.how-it-work {
  padding: 20px;
  text-align: center;
  margin-top: -70px; 
}

.how-it-work h1 {
  font-size: 2rem;
  margin-top: 20px;
}

.how-it-work h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.step-container {
  flex: 1;
  min-width: 200px; 
  max-width: 300px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; 
}

.step-container p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4; 
}

.step-container strong {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.image-container {
  max-width: 300px;
  margin: 20px auto;
}

.image-container img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .steps {
    flex-direction: column;
    align-items: center;
  }

  .step-container {
    max-width: 100%;
  }
}